{% extends 'base.html.twig' %}

{% block body %}

    <div class="row col-md-12" >
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                Detalle Restaurante
            </div>
            <div class="col-md-12">
                Nombre: {{ rest['name'] }}
            </div>
            <div class="col-md-12">
                Descripcion: {{ rest['body'] }}
            </div>
            <div class="col-md-12">
                Ranking: {{ rest['rank'] }}
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>

    <a href="/">
        <button> VOLVER </button>
    </a>
{% endblock %}