{% extends 'base.html.twig' %}

{% block body %}

    <div class="row col-md-12" >
        <div class="col-md-2">

        </div>
        <div class="col-md-6">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Detalle Restaurante. </h5>
                    <p class="card-text">Nombre: {{ rest[0].nombre }}</p>
                    <p class="card-text">Descripcion: {{ rest[0].body }}</p>
                    <p class="card-text">Ranking: {{ rest[0].ranking }}.</p>
                    <a href="/" class="btn btn-primary">Volver</a>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>


{% endblock %}